@define-color accent #fab387;

*{
    font-family: FiraCode Nerd Font;
    font-size: 15px;
}

window {
    background-color: #0e0d0f;
    border-radius: 6px;
    border: 2px solid @accent;
    color: #0e0d0f;
    opacity: 0.9;
}
#input {
    margin: 10 0 10 0x;
    padding: 1;
    border-radius: 6px;
    border: 2px solid @accent;
    background-color: #1c1c1c;
    color: #0e0d0f;
}
#inner-box {
    background-color: #0e0d0f;
    padding: 15 0 0 0;
}
#outer-box {
    margin: 20px;
    padding: 0px;
}
#text {
	padding: 8px;
	margin: 2px;
	color: #353336;
}
#entry {
	background-color: #0e0d0f;
	padding: 0 15px;
}
#entry:nth-child(even){
	background-color: #0e0d0f;
	padding: 0 15px;
}
#entry:selected {
	border-radius: 6px;
	background-color: #1c1c1c;
	border: 2px solid @accent;
}
#text:selected {
	color: #b1a4bd;
}
