.nemo-window {
    background-color: #141414;
    color: #ceb48d;
  }
  .nemo-window .view{
    background-color: #141414;
    color: #ceb48d;
  }
  .nemo-window .primary-toolbar{
    background-color: #141414;
    color: #ceb48d;
  }